.fontWeightBold {
	font-weight:bold;
}
.bundleContainerBody {
	max-height:200px;
	overflow:auto;
	padding-top:6px;
}
.bundleContainer .row {
	border:1px solid #ddd;
	max-width:300px;
	margin-top:10px;
	box-shadow: 2px 2px 2px  #ddd;
}
.leftContainer {
	height:80px;
	padding:0;
	border-right:1px solid #ddd;
}
.rightContainer {
	height:80px;
	padding:10px;
}
.spanForDescription {
	font-size:13px;
	bottom:5px;
	position:absolute;
	width:100%;
	left:5px;
	color:#666;
	 line-height: 15px
}
.spanForName
{
	font-weight:bold;
}
.examResultListTile
{
	padding:0;
	margin-top:10px;
	border: 1px solid #ddd;
	font-size:13px;
}
.examResultExamName
{
	display:block;
	font-weight:bold;
}
.summaryContainerBody
{
	padding-top:0px;
}
.markSpan
{
	background:#849fbb;
	text-align:center;
	color:white;
	padding:5px;
	font-size:20px;
}
.green 
{
	color:green;
}
.red
{
	color:red;
}
