#examContainerPage .topRow
{
    background: #134272;
    height:70px;
    color: white;
    font-size:26px;

}
.logoImg{
    position: absolute;
    right: 10px;
    z-index: 99;
    padding-top: 7px;
}
.examName
{
    padding:10px;
}
.companyLogo
{
    padding:10px;
}
#tblForExamIntroductionCategoryList
{
 background: white;
}
.categoryListInIntroductionPage
{
   
   padding-top:20px;
}.underline
{
    text-decoration: underline;
}
table{
    border: 1px solid #ddd;
}

.categoryListInIntroductionPage table th
{
    text-align: center;
 border:1px solid #000;
 padding:5px;
}
.categoryListInIntroductionPage table td
{
    text-align: center;
 border:1px solid #000;
 padding:5px;
}
.categoryListInIntroductionPage table 
{
    width:100%;
}
.plain
{
    background: #cecece;
}
.red 
{
    background:red;
}
.green
{
    background:green;
}
.violet{
    background:violet;
}
.statusLegend
{
    width:200px;
    height:60px;
    text-align: center;
    padding: 10px;
    color:black;
}
.attemptStatusLegends ul li
{
list-style: none;
padding-top:10px;
}

.examStatusContainer
{
    height:88vh;
    background:#eee;
    padding: 0;
    
}
.statusContainer
{
    display: block;
    margin-top:10px;
    height:293px;
    overflow: auto;
}

.descriptionContainer
{
    height: 450px;
    overflow: auto;
}
.questionContainer ul li 
{
    list-style: none;
}
.questionContainer p
{
   margin:0;
}
.questionContainer label
{
  font-weight: normal;

}
.questionContainer
{
    padding: 10px ;
    background: #fff;
    margin-bottom:10px;
    overflow: auto;

}
.questionNumberDivision
{
    padding:5px;
    border-bottom: 1px solid #ddd;
}

.divForDescription
{
    border-right:1px solid #ddd;
    min-height:390px;
    padding-top:15px;
}

.hide{
    display: none;
}
.statusTile
{
    display: inline-block;
    text-align: center;
    padding: 3px;
    margin: 5px 5px 0;
    border: 1px solid #ddd;
    min-width: 30px;
    background: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;    
}
.redTile
{
    background: #e60000;
    color:white;
}
.violetTile
{
    background: #9c36c0;
    color:white;
}
.greenTile
{
    background: green;
    color:white;
}
.blueTile
{
   background: #3778bd;
    color:white;
}
#CountDown {
    display: block;
    background: #eaedf1;


}

.timerSpanGroup
{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
}
.CountDown span
{
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.CountDown {
        padding-top: 5px;
        display: block;
        background: #eaedf1;
        border-bottom: 1px solid #ddd;
        padding: 7px;
}

.statusLegends 
{
    border-top:1px solid #ddd; 
    
}
.statusLegends ul
{
    padding:0;
}
.statusLegends ul li{
    display: inline-block;
}
.finishArea
{
    padding:10px;
}











/*--------------------------------------------------------*/

@media(min-width:991px) {

    .exam-Panel{
        margin-top:1vh;
        border:1px solid #ddd;
    }
    .exam-panel-body{
        height:83vh;
        padding:0;
        padding-left:10px;
        padding-right:10px;
        overflow: auto;
    }
    .questionContainer
    {
        height:66vh;
    }


}
body{
    background: white;
}
.exam-Panel .panel-heading{
    background: #4a6da7;
    color:white;
}
.grayBody{
background: #eaedf1;
}
.whiteBody{
    background: #fff;
    }

    .examName
{
    padding:5px;
}
.padding-20
{
    padding-top:20px;
}
.top10{
    padding-top:10px;
}
ul{
    padding:0;
}
.sectionContainer{
    background:#fff;
    border:1px solid #ddd;
    padding: 0;
}
.sectionContainer button{
    padding:5px;
    border:none;
    border-right:1px solid #ddd;
    background:white;
    font-weight: bold;
}
.sectionContainer button:hover{
    background: #eaedf1;
}
.sectionContainer button.active{
    background: #eaedf1;
}
.marginRgtFive{
    margin-right: 5px;
}
.questionSpan
{
    padding:10px;
    font-weight:bold;
}
.wellDiv{
    padding:10px;
    font-style: italic;
    border:1px solid #ddd;
    border-left:2px solid #849fbb;
    font-size:13px;
    color: #555;
}

.subContentDiv{
    color:#444;
    font-size: 13px;
    padding-top:10px;
}
.displayBlock{
    display: block;
}
.topZero{
    padding-top:0;
}
.btn-second{
    background: #4a6da7bd;
    color:white;
}
.questionSpan span{
    width: 37px;
    background: #4a6da7;
    color: white;
    float: left;
    padding: 1px 14px;
    margin-left: -17px;
    margin-right: 5px;
}
.optionUl{
    margin-top:10px;
}
​
@media(max-width:991px) {
    .sectionContainer button{ 
        border:1px solid #ddd;
    }

}